In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

# Import data

In [3]:
df_train = pd.read_csv('./data/train.csv')

In [4]:
df_test = pd.read_csv('./data/test.csv')

In [5]:
sample_sub = pd.read_csv('./data/sample_submission.csv')

In [6]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2,"Bell, Adele",female,62.00,0,0,PC 15008,14.86,D17243,C
99996,99996,0,2,"Brown, Herman",male,66.00,0,0,13273,11.15,NaN,S
99997,99997,0,3,"Childress, Charles",male,37.00,0,0,NaN,9.95,NaN,S
99998,99998,0,3,"Caughlin, Thomas",male,51.00,0,1,458654,30.92,NaN,S
99999,99999,0,3,"Enciso, Tyler",male,55.00,0,0,458074,13.96,NaN,S

In [7]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,100000,3,"Holliday, Daniel",male,19.0,0,0,24745,63.01,NaN,S
1,100001,3,"Nguyen, Lorraine",female,53.0,0,0,13264,5.81,NaN,S
2,100002,1,"Harris, Heather",female,19.0,0,0,25990,38.91,B15315,C
3,100003,2,"Larsen, Eric",male,25.0,0,0,314011,12.93,NaN,S
4,100004,1,"Cleary, Sarah",female,17.0,0,2,26203,26.89,B22515,C
...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,3,"Cash, Cheryle",female,27.0,0,0,7686,10.12,NaN,Q
99996,199996,1,"Brown, Howard",male,59.0,1,0,13004,68.31,NaN,S
99997,199997,3,"Lightfoot, Cameron",male,47.0,0,0,4383317,10.87,NaN,S
99998,199998,1,"Jacobsen, Margaret",female,49.0,1,2,PC 26988,29.68,B20828,C
99999,199999,1,"Fishback, Joanna",female,41.0,0,2,PC 41824,195.41,E13345,C

In [8]:
sample_sub

       PassengerId  Survived
0           100000         1
1           100001         1
2           100002         1
3           100003         1
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         1
99997       199997         1
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

## Basic preprocess

In [9]:
X_train = df_train[[col for col in df_train.columns if col != 'Survived']]
X_train.columns = [c.lower() for c in X_train.columns]
X_train.set_index('passengerid', inplace=True)
X_train.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,
0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

In [10]:
y_train = df_train[['PassengerId','Survived']]
y_train.columns = [c.lower() for c in y_train.columns]
y_train.set_index('passengerid', inplace=True)
y_train = y_train['survived']
y_train.head()

passengerid
0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [11]:
X_test = df_test[[col for col in df_test.columns if col != 'Survived']]
X_test.columns = [c.lower() for c in X_test.columns]
X_test.set_index('passengerid', inplace=True)
X_test.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
passengerid,,,,,,,,,,
100000,3,"Holliday, Daniel",male,19.0,0,0,24745,63.01,NaN,S
100001,3,"Nguyen, Lorraine",female,53.0,0,0,13264,5.81,NaN,S
100002,1,"Harris, Heather",female,19.0,0,0,25990,38.91,B15315,C
100003,2,"Larsen, Eric",male,25.0,0,0,314011,12.93,NaN,S
100004,1,"Cleary, Sarah",female,17.0,0,2,26203,26.89,B22515,C

# Explore some data

In [12]:
!conda install pandas-profiling

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [13]:
from pandas_profiling import ProfileReport

In [14]:
profile = ProfileReport(df_train, minimal=True, explorative=True)

In [15]:
X_test.describe()

              pclass           age          sibsp         parch          fare
count  100000.000000  96513.000000  100000.000000  100000.00000  99867.000000
mean        2.368930     30.565796       0.486550       0.49283     45.374804
std         0.878458     14.054634       0.771262       0.92360     65.204725
min         1.000000      0.080000       0.000000       0.00000      0.050000
25%         1.000000     21.000000       0.000000       0.00000     10.130000
50%         3.000000     27.000000       0.000000       0.00000     13.980000
75%         3.000000     40.000000       1.000000       1.00000     37.390000
max         3.000000     81.000000       8.000000       9.00000    680.700000

In [16]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 100000 to 199999
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   pclass    100000 non-null  int64
 1   name      100000 non-null  object
 2   sex       100000 non-null  object
 3   age       96513 non-null   float64
 4   sibsp     100000 non-null  int64
 5   parch     100000 non-null  int64
 6   ticket    94819 non-null   object
 7   fare      99867 non-null   float64
 8   cabin     29169 non-null   object
 9   embarked  99723 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 8.4+ MB

In [17]:
X_train.dtypes

pclass        int64
name         object
sex          object
age         float64
sibsp         int64
parch         int64
ticket       object
fare        float64
cabin        object
embarked     object
dtype: object

In [18]:
for c in X_train.columns:
    print('\n\n--------\n'+c)
    if X_train.dtypes[c] == 'float64':
        print(X_train[c].describe())
    else:
        print(X_train[c].value_counts())

--------
pclass
3    41006
1    30315
2    28679
Name: pclass, dtype: int64


--------
name
Johnson, John         31
Smith, James          24
Smith, John           24
Johnson, William      22
Smith, Michael        20
                      ..
Doxey, Theresa         1
Janda, Clayton         1
Rayford, Stephanie     1
Dewall, Ruben          1
Cote, Ed               1
Name: name, Length: 92144, dtype: int64


--------
sex
male      56114
female    43886
Name: sex, dtype: int64


--------
age
count    96708.000000
mean        38.355472
std         18.313556
min          0.080000
25%         25.000000
50%         39.000000
75%         53.000000
max         87.000000
Name: age, dtype: float64


--------
sibsp
0    73308
1    19758
2     3703
3     1635
4     1168
8      296
5      132
Name: sibsp, dtype: int64


--------
parch
0    73540
1    12996
2    11236
3      983
4      446
5      331
9      264
6      204
Name: parch, dtype: int64


--------
ticket
A/5               602
C.A.              177
SC/PARIS          145
SOTON/O.Q.         80
SC                 57
                 ...
474192              1
4118149             1
33094               1
SOTON/OQ 36296      1
PC 23602            1
Name: ticket, Length: 75331, dtype: int64


--------
fare
count    99866.00000
mean        43.92933
std         69.58882
min          0.68000
25%         10.04000
50%         24.46000
75%         33.50000
max        744.66000
Name: fare, dtype: float64


--------
cabin
C19828    6
C14534    5
C11283    5
C11139    5
C9485     5
         ..
C13809    1
C11836    1
B17665    1
C10456    1
C10747    1
Name: cabin, Length: 26992, dtype: int64


--------
embarked
S    72139
C    22187
Q     5424
Name: embarked, dtype: int64

In [19]:
y_train.value_counts()

0    57226
1    42774
Name: survived, dtype: int64

In [39]:
X_train.join(y_train).groupby('sex')['survived'].value_counts() / X_train.join(y_train).groupby('sex')['survived'].count()

sex     survived
female  1           0.711525
        0           0.288475
male    0           0.794205
        1           0.205795
Name: survived, dtype: float64

In [110]:
X_train['cabin'].apply(lambda x: x[0])

passengerid
0        C
1        u
2        u
3        u
4        u
        ..
99995    D
99996    u
99997    u
99998    u
99999    u
Name: cabin, Length: 100000, dtype: object

In [112]:
X_train['cabin'].value_counts()

unk       67866
C19828        6
C11139        5
B18148        5
B11110        5
          ...
C13809        1
C11836        1
B17665        1
C10456        1
C10747        1
Name: cabin, Length: 26993, dtype: int64

In [118]:
X_train[X_train['cabin']!='unk']['cabin'].apply(lambda x: x[0]).value_counts()

C    11825
B     7439
A     6307
D     3637
E     1749
F      663
G      482
T       32
Name: cabin, dtype: int64

In [117]:
X_train[X_train['cabin']!='unk']['cabin'].apply(lambda x: x[1:]).astype(int)

passengerid
0        12239
8         7253
9         2969
11        9055
12        8674
         ...
99967     4590
99989    12975
99991    19289
99992    12072
99995    17243
Name: cabin, Length: 32134, dtype: int64

In [42]:
X_train['ticket'].value_counts()

unk               4623
A/5                602
C.A.               177
SC/PARIS           145
SOTON/O.Q.          80
                  ...
474192               1
4118149              1
33094                1
SOTON/OQ 36296       1
PC 23602             1
Name: ticket, Length: 75332, dtype: int64

In [43]:
X_train['ticket'].value_counts()[:10]

unk            4623
A/5             602
C.A.            177
SC/PARIS        145
SOTON/O.Q.       80
SC               57
W./C.            53
A/5.             40
W.E.P.           23
CA               22
Name: ticket, dtype: int64

In [44]:
X_train['ticket'].value_counts()[10:20]

STON/O2.     21
PP           15
CA.          15
A/4          12
LP           12
SOTON/OQ     11
9566         10
S.P.         10
12736         9
12198         9
Name: ticket, dtype: int64

In [94]:
def get_tck_str(tck):
    x = tck.split()
    try: 
        a = int(x[0])
        return None
    except:
        return x[0]
    
def get_tck_num(tck):
    x = tck.split()
    try:
        a = int(x[0])
        return a
    except:
        return None

In [95]:
s = X_train['ticket'].apply(get_tck_str)

In [97]:
s[-15:]

passengerid
99985      None
99986    STON/O
99987      C.A.
99988        PP
99989      None
99990      A.5.
99991        CA
99992      None
99993      None
99994      None
99995        PC
99996      None
99997       unk
99998      None
99999      None
Name: ticket, dtype: object

In [101]:
n =  X_train['ticket'].apply(get_tck_num)

In [108]:
n.describe()

count    7.072200e+04
mean     3.427423e+05
std      8.258046e+05
min      3.425000e+03
25%      1.694975e+04
50%      3.918550e+04
75%      4.150690e+05
max      4.553574e+06
Name: ticket, dtype: float64

In [109]:
n.value_counts()

9566.0      10
12736.0      9
9627.0       9
12198.0      9
10362.0      8
            ..
217189.0     1
434377.0     1
291904.0     1
46105.0      1
426220.0     1
Name: ticket, Length: 52409, dtype: int64

In [106]:
s.value_counts()

PC            6375
unk           4623
A.            3750
C.A.          1676
STON/O        1512
A/5            966
SC/PARIS       961
SOTON/O.Q.     735
W./C.          683
A/5.           656
PP             622
F.C.C.         577
SC/Paris       530
SC/AH          525
CA.            492
STON/O2.       416
A/4            387
S.O.C.         305
F.C.           296
SOTON/O2       290
S.C./PARIS     287
CA             280
SOTON/OQ       257
C              220
WE/P           175
W.E.P.         169
SC             164
P/PP           149
S.O./P.P.      134
A/4.           127
A./5.          106
SCO/W          101
A.5.            76
AQ/4            73
LP              56
Fa              54
A/S             44
S.C./A.4.       40
SW/PP           38
STON/OQ.        38
C.A./SOTON      37
S.O.P.          36
S.P.            34
SO/C            34
SC/A.3          33
S.W./PP         31
SC/A4           31
AQ/3.           30
W/C             28
A4.             19
Name: ticket, dtype: int64

In [119]:
clean_X_train = pd.read_parquet('data/clean_X_train.parquet')

In [120]:
clean_X_train['ticket_str'].value_counts()

a4.           14409
aq/3.         11728
lp             9466
sco/w          8144
so/c           7615
s.c./a.4.      7066
pc             6375
w/c            3803
a.             3750
w.e.p.         2990
ston/oq.       2887
c.a./soton     2870
sc/a.3         2048
a/4.           1987
c.a.           1676
ston/o         1512
sc/paris       1491
a/5             966
sw/pp           756
soton/o.q.      735
w./c.           683
a/5.            656
pp              622
f.c.c.          577
sc/ah           525
ca.             492
ston/o2.        428
a/4             387
s.o.c.          307
f.c.            296
soton/o2        290
s.c./paris      287
ca              282
soton/oq        263
c               224
s.p.            206
we/p            175
sc              166
p/pp            164
a./5.           152
s.o./p.p.       150
a.5.             76
aq/4             73
a/s              64
sc/a4            59
fa               55
s.o.p.           36
s.w./pp          31
Name: ticket_str, dtype: int64

In [87]:
m = X_train['ticket'].apply(lambda x: x.split(' ')).apply(lambda x: x[-1] if len(x) > 0 else '-1')

In [100]:
X_train['ticket'].apply(lambda x: x.split()).apply(lambda x: len(x)).value_counts()

1    76716
2    23284
Name: ticket, dtype: int64

In [86]:
m.iloc[0:10]

passengerid
0    209245
1     27323
2    457703
3     10866
4    427635
5     13363
6       A/5
7    434426
8    474849
9      6981
Name: ticket, dtype: object

In [65]:
m[(m!='unk')].astype(int)

ValueError: invalid literal for int() with base 10: 'A/5'

In [47]:
X_train['ticket'].str.split()

AttributeError: 'PandasArray' object has no attribute '_str_split'

# Quick and dirty model

In [20]:
from catboost import CatBoostClassifier

In [21]:
X_train.dtypes

pclass        int64
name         object
sex          object
age         float64
sibsp         int64
parch         int64
ticket       object
fare        float64
cabin        object
embarked     object
dtype: object

In [22]:
text_features = ['name', 'ticket']
cat_features = ['sex', 'embarked', 'cabin']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train.loc[:,text_features] = X_train[text_features].fillna('unk')
X_train.loc[:,cat_features] = X_train[cat_features].fillna('unk')

/Users/kientt15/opt/miniconda3/lib/python3.8/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

X_train.info()

In [26]:
X_train_t, X_train_e, y_train_t, y_train_e = train_test_split(X_train, y_train, test_size=0.1)

In [27]:
model = CatBoostClassifier(iterations = 300, cat_features=cat_features, text_features=text_features, 
                           verbose=True, metric_period=25)

In [28]:
type(X_train['ticket'][0])

str

In [29]:
model.fit(X_train_t, y_train_t, eval_set=(X_train_e, y_train_e))

Learning rate set to 0.162577
0:	learn: 0.6290102	test: 0.6321287	best: 0.6321287 (0)	total: 223ms	remaining: 1m 6s
25:	learn: 0.4788722	test: 0.4919962	best: 0.4919962 (25)	total: 3.68s	remaining: 38.8s
50:	learn: 0.4760694	test: 0.4898343	best: 0.4898343 (50)	total: 6.6s	remaining: 32.2s
75:	learn: 0.4737628	test: 0.4884291	best: 0.4884291 (75)	total: 9.5s	remaining: 28s
100:	learn: 0.4710759	test: 0.4875741	best: 0.4875741 (100)	total: 12.4s	remaining: 24.5s
125:	learn: 0.4689746	test: 0.4867548	best: 0.4867548 (125)	total: 15.3s	remaining: 21.2s
150:	learn: 0.4671848	test: 0.4864218	best: 0.4864218 (150)	total: 18.3s	remaining: 18s
175:	learn: 0.4657749	test: 0.4862225	best: 0.4862225 (175)	total: 21.1s	remaining: 14.9s
200:	learn: 0.4645127	test: 0.4863626	best: 0.4862225 (175)	total: 24s	remaining: 11.8s
225:	learn: 0.4632568	test: 0.4863777	best: 0.4862225 (175)	total: 26.8s	remaining: 8.79s
250:	learn: 0.4620850	test: 0.4864824	best: 0.4862225 (175)	total: 29.7s	remaining: 5.8s
275:	learn: 0.4609687	test: 0.4865822	best: 0.4862225 (175)	total: 32.5s	remaining: 2.83s
299:	learn: 0.4602241	test: 0.4866380	best: 0.4862225 (175)	total: 35.3s	remaining: 0us

bestTest = 0.4862225342
bestIteration = 175

Shrink model to first 176 iterations.

In [30]:
model.predict(X_train_e)

array([0, 1, 0, ..., 0, 0, 0])

In [31]:
def auc_report(model, X, y_true):
    classes = model.classes_
    y_pred_classes = model.predict_proba(X)
    n_classes = len(classes)
    
    lw = 2
    for i in range(len(classes)):
        print(f"""{classes[i]}: {roc_auc_score(y_true=(y_true==classes[i]).astype(int), y_score=y_pred_classes[:,i])}""")
        
    # Compute ROC curve and ROC area for each class
    fpr = dict()
    tpr = dict()
    roc_auc = dict()
    
    for i in range(n_classes):
        fpr[i], tpr[i], _ = roc_curve(y_true=(y_true==classes[i]).astype(int), y_score=y_pred_classes[:,i])
        roc_auc[i] = auc(fpr[i], tpr[i])
    
    all_fpr = np.unique(np.concatenate([fpr[i] for i in range(len(classes))]))

    # Then interpolate all ROC curves at this points
    mean_tpr = np.zeros_like(all_fpr)
    for i in range(len(classes)):
        mean_tpr += interp(all_fpr, fpr[i], tpr[i])

    # Finally average it and compute AUC
    mean_tpr /= n_classes

    fpr["macro"] = all_fpr
    tpr["macro"] = mean_tpr
    roc_auc["macro"] = auc(fpr["macro"], tpr["macro"])

    # Plot all ROC curves
    plt.figure()

    plt.plot(fpr["macro"], tpr["macro"],
             label='macro-average ROC curve (area = {0:0.2f})'
                   ''.format(roc_auc["macro"]),
             color='navy', linestyle=':', linewidth=4)

    colors = cycle(['aqua', 'darkorange', 'cornflowerblue'])
    for i, color in zip(range(n_classes), colors):
        plt.plot(fpr[i], tpr[i], color=color, lw=lw,
                 label='ROC curve of class {0} (area = {1:0.2f})'
                 ''.format(classes[i], roc_auc[i]))

    plt.plot([0, 1], [0, 1], 'k--', lw=lw)
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Some extension of Receiver operating characteristic to multi-class')
    plt.legend(loc="lower right")
    plt.show()
    return {
        'macro_auc': roc_auc["macro"],
        f'auc_{classes[0]}': roc_auc[0],
        f'auc_{classes[1]}': roc_auc[1],
        f'auc_{classes[2]}': roc_auc[2],
    }

In [32]:
from sklearn.metrics import classification_report

In [33]:
print(classification_report(y_train_e, model.predict(X_train_e)))

              precision    recall  f1-score   support

           0       0.80      0.78      0.79      5623
           1       0.73      0.75      0.74      4377

    accuracy                           0.77     10000
   macro avg       0.76      0.77      0.76     10000
weighted avg       0.77      0.77      0.77     10000

In [34]:
fi = pd.DataFrame({
    'feature':X_test.columns,
    'importance': model.feature_importances_
})

fi.sort_values(by='importance',ascending=False).iloc[:50].style.bar()